@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 1.5rem;
  color: #000;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
  letter-spacing: auto; /* 자간 */
  word-break: keep-all; /* 줄내림 */
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.wrap {
  width: 100%;
  margin: 0 auto;
}
